#container {
  height: 100%;
  min-height: 100%;
  text-align: center;
}

#container h1 {
  text-align: center;
  font-size: 3em;
  font-family: Copperplate,"Copperplate Gothic Light",fantasy;
}

#officialsection, #socialsection {
  display: inline-block;
  vertical-align: middle;
  background: white;
  padding: 0 10px;
  width: 350px;
  border: solid #712A70 5px;
  border-radius: 8px;
  margin: 15px 5px 15px 5px;
}

#container p {
  text-align: left;
}

#container h6 {
  font-size: 1.2em;
  margin: 5px 0 0 0;
}

span.rightcontact {
  /*display: inline-block;*/
  float: right;
}

#ratioiframe {
  display: block;
  position: relative;
  padding-top: 56%;
  width: 100%;
  margin: 20px 0;
}

#ratioiframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

iframe {
  width: 100%;
  border: solid #712A70 5px;
  border-radius: 8px;
}

iframe.soundcloud {
  margin: 10px 0;
}

@media screen and (max-width: 740px) {

  #officialsection, #socialsection {
    width: 90%;
  }

}

@media screen and (max-width: 400px) {
  #container h1 {
    font-size: 2em;
  }
}
